.jumbotron {
    padding-top: 212px;
    padding-bottom: 212px;
    margin-bottom: -180px;
    background-image: url(img/background-web-pengisian.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-heading {
    color: red;
    font-family: 'Kalam', cursive;
    margin-top: 3px;
}

#about {
    background-color: red;
}

#projects {
    background-color: #fff;
}

#contact {
    background-color: red;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: white;
    margin-top: -1px;
}

h5,h2 {
    color: #fff;
}